@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');
/* font-family: 'Jost', sans-serif; */
/* font-family: 'Maven Pro', sans-serif; */

/* -----GENERAL----- */

* {
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body {
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #c4c4c4;
}

p {
    font-family: 'Maven Pro', sans-serif;
    color: #000;
    font-size: 20px;
    line-height: 200%;
    letter-spacing: 10%;
}

a {
    font-family: 'Maven Pro', sans-serif;
    color: #000;
    font-size: 20px;
}

h1, h2, h3 {
    font-family: 'Jost', sans-serif;
    color: #000;
}

.button {
    background-color: #54EABD;
    color: #000;
    border-radius: 5px;
    border: none;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.5);
}

.button:active {
    background-color: #32cfa0;
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.5);
}

/* -----LANDING----- */

.landing__body {
    width: 100vw;
    height: 95vh;
    margin: 0 auto;
    background-color: #797777;
}

.landing__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.landing__wrapper  .landing__logo{
    margin-top: 5rem;
    max-width: 80%;
}

.landing__button {
    margin-top: 3rem;
    font-size: 28px;
    padding: 2rem 3rem;
}

/* -----HOME----- */

/* HEADER */

.menu {
    padding: 0 2rem;
    width: 100%;
    height: 100px;
    background-color: #606060;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 1;
}

.menu .menu__nav {
    display: flex;
}

.menu .menu__nav li .menu__link {
    font-size: 20px;
    color: #54EABD;
    margin-right: 5rem;
}

.menu .menu__nav li .menu__link:hover {
    text-decoration: underline;
    text-decoration-color: rgb(68, 68, 68);
    color: #d2fff1;
}

.menu .menu__search {
    height: 40px;
    font-size: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    outline: none;
}

/* BASKET (DETTA ELEMENTET ÄR TÄNKT ATT DYKA UPP FÖRST NÄR MAN LAGT NÅGOT I VARUKORGEN) */

.basket {
    width: 120px;
    height: 120px;
    background-color: #606060;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    right: 0;
    border-bottom-left-radius: 5px;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 100px;
    z-index: 2;
}

.basket .basket__notice {
    background-color: #54EABD;
    margin-right: 1rem;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #000;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
}

.basket .basket__notice .basket__number {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
}

/* MAIN */

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #797777;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero {
    width: 100%;
    position: relative;
}

.hero__background {
    margin: 0;
    width: 100%;
    height: 623px;
    background-image: url(/assets/photos/home-backgr3.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}

.hero__searchbox {
    background-color: #c4c4c4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 5rem;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: absolute;
    left: 5rem;
    top: 10rem;
}

.hero__searchbox .searchbox__date {
    outline: none;
    width: 215px;
    height: 37px;
    font-size: 18px;
}

.hero__searchbox .searchbox__persons {
    outline: none;
    width: 215px;
    height: 37px;
    font-size: 18px;
    margin-top: 1rem;
}

.hero__searchbox .searchbox__button {
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 18px;
}

.hero__quote {
    position: absolute;
    font-size: 42px;
    font-weight: 400;
    font-style: italic;
    right: 5rem;
    top: 22rem;
    color: rgb(255, 255, 255);
}

.hero__quoter {
    position: absolute;
    font-size: 36px;
    right: 5rem;
    top: 26rem;
    color: rgb(255, 255, 255);
}

.info {
    width: 80%;
    display: flex;
    flex-direction: column;
    
}

.info__header {
    margin-top: 5rem;
    font-size: 38px;
    font-weight: 500;
}

.info hr {
    width: 100%;
    height: 2px;
    background-color: #54EABD;
    border: none;
}

.info__text {
    width: 50%;
    align-self: flex-end;
}

.gallery {
    width: 80%;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.gallery__quote {
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-template-areas:
    "img quote";
}

.gallery .gallery__quote-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: quote;
    padding-left: 2rem;
}

.gallery .gallery__img-small {
    width: 100%;
    grid-area: img; 
}

.gallery .gallery__quote-text {
    font-size: 32px;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 10%;
    margin-bottom: 0;
}

.gallery .gallery__quoter {
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 10%;
    line-height: 200%;
    margin-top: 0;
}

.gallery img {
    width: 100%;
    border: 3px solid #54EABD;
    border-radius: 5px;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.2);
}

.gallery .gallery__header {
    margin-top: 5rem;
    font-size: 38px;
    font-weight: 500;
}

.gallery hr {
    width: 100%;
    height: 2px;
    background-color: #54EABD;
    border: none;
}

.gallery .gallery__text {
    margin-bottom: 5rem;
}

/* FOOTER */

.footer {
    background-color: #606060;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
}

.footer .footer__logo img {
    max-width: 70%;
}

.footer .footer__nav {
    padding-top: 5rem;
    margin-right: 5rem;
}

.footer .footer__nav .links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 80px;
    grid-template-areas: 
    "home press"
    "about reviews"
    "contact news";
}

.footer .footer__nav .links .links__home {
    grid-area: home;
}

.footer .footer__nav .links .links__about {
    grid-area: about;
}

.footer .footer__nav .links .links__contact {
    grid-area: contact;
}

.footer .footer__nav .links .links__press {
    grid-area: press;
}

.footer .footer__nav .links .links__reviews {
    grid-area: reviews;
}

.footer .footer__nav .links .links__news {
    grid-area: news;
}

.footer .footer__nav .links li a {
    color: #54EABD;
    font-size: 24px;
    margin: 2rem;
}

.footer .footer__nav .social {
    display: flex;
    justify-content: center;
    margin: 2rem;
    gap: 3rem;
}

.footer .footer__nav .links li a:hover {
    color: #d2fff1;
    text-decoration: underline;
    text-decoration-color: rgb(68, 68, 68);
}

/* -----BOOKING----- */

.booking__background img {
    width: 100%;
    margin-bottom: 1rem;
}

.booking__form {
    background-color: #c4c4c4;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 2rem 0;
    position: absolute;
    bottom: 45%;
}

.booking__form input, select {
    outline: none;
    width: 215px;
    height: 37px;
    font-size: 18px;
}

.booking__form .booking__button {
    padding: 0.3rem 3rem;
    display: flex;
    align-items: center;
}

.booking__form .booking__button img {
    padding-left: 1.5rem;
}

.card {
    margin-bottom: 5rem;
    padding: 2rem;
    padding-bottom: 0;
    background-color: #c4c4c4;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    grid-template-areas:
    "img img . header header ."
    "img img . info info info"
    "img img . features features price"
    "img-change img-change . . . ."
    "results results results results results results"
    ;
}

.card .card__img {
    grid-area: img;
    border-radius: 5px;
    border: 3px solid #54EABD
}

.card .card__header {
    grid-area: header;
    font-weight: 500;
    margin: 0;
}

.card .card__info {
    grid-area: info;
    font-size: 16px;
}

.card .card__features {
    grid-area: features;
    list-style-type: circle;
    display: grid;
    grid-template-columns: repeat(2, 100px);
    font-size: 16px;
    font-family: 'Maven Pro', sans-serif;
    letter-spacing: 10%;
    font-weight: 500;
    padding-left: 1rem;
    gap: 1.5rem;
}

.card .card__features li {
    list-style-type:disc;
}

.card .card__price {
    grid-area: price;
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0;
}

.card .img__scroll {
    grid-area: img-change;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    margin-left: 5rem;
}

.card .img__scroll p {
    font-size: 18px;
    letter-spacing: 10%;
    font-weight: 600;
    margin: 0 1rem;
}

.card .img__scroll .arrow-right {
    transform: rotate(180deg);
}

.card .card__results {
    grid-area: results;
    background-color: #606060;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: -2.05rem;
    margin-left: -2rem;
    max-height: 43px;
}

.card .card__results .results__header {
    color: #54EABD;
    font-size: 24px;
    font-weight: 400;
    padding-right: 1rem;
}

/* -----ABOUT----- */

.logo {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo .logo__img {
    max-width: 70%;
}

.map .map__img {
    max-width: 100%;
}

@media screen and (max-width: 768px) {
    p, a {
        font-size: 16px;
    }

    .menu {
        padding-left: 1rem;
    }

    .menu .menu__logo {
        width: 70px;
    }

    .menu .menu__nav {
        display: flex;
        flex-wrap: wrap;
        padding-left: 1rem;
    }

    .menu .menu__nav li .menu__link {
        margin-right: 1rem;
        font-size: 16px;
    }
    
    .menu .menu__search {
        display: none;
    }

    .basket {
        width: 60px;
        height: 70px;
        top: 99px;
    }

    .basket .basket__title {
        display: none;
    }
    
    .basket .basket__notice {
        width: 15px;
        height: 15px;
        margin-right: 0.2rem;
    }
    
    .hero__background {
        background-size: cover;
    }
    
    .hero__searchbox {
        padding: 1rem 2rem;
        left: 1.5rem;
    }
    
    .hero__quote {
        font-size: 36px;
        top: 21rem;
        left: 3rem;
    }
    
    .hero__quoter {
        font-size: 28px;
        top: 28rem;
        left: 3rem;
    }
    
    .info__text {
        width: 80%;
    }
    
    .gallery__quote {
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
    }
    
    .gallery .gallery__header {
        margin-top: 5rem;
        font-size: 38px;
        font-weight: 500;
    }
    
    .gallery hr {
        width: 100%;
        height: 2px;
        background-color: #54EABD;
        border: none;
    }
    
    .gallery .gallery__text {
        margin-bottom: 5rem;
    }

    .footer {
        padding-left: 0;
    }

    .footer .footer__logo {
        display: none;
    }

    .footer .footer__map {
        display: none;
    }

    .booking__background img {
        margin-bottom: 10rem; 
    }
    
    .booking__form {
        gap: 2rem;
        flex-direction: column;
        width: 80%;
        border-radius: 5px;
        margin-bottom: 2rem;
    }

    .card {
        margin-bottom: 5rem;
        padding: 2rem;
        padding-bottom: 0;
        background-color: #c4c4c4;
        width: 95%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
        grid-template-areas:
        "header"
        "img"
        "img-change"
        "info"
        "features"
        "price"
        "results"
        ;
    }
    
    .card .card__header {
       text-align: center;
       margin-bottom: 1rem;
    }

    .card .card__img {
        width: 100%;
     }

    .card .img__scroll {
        padding-bottom: 0;
        margin-left: 0;
    }

    .card .card__price {
        margin-bottom: 2rem;
    }
    
    .card .card__results .results__header {
        font-size: 16px;
    }

}



